@{
    ViewData["Title"] = "Error";
}


    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
<hr />
<p class="text-danger">
    <strong>Exception:</strong> <span>@ViewData["Exception"]</span>
</p>
<hr />

<a asp-action="Index" asp-controller="Home">Return to Home</a>