@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">EventsCore</h1>
    <p>Learn about <a href="https://stringly.github.io/EventsCore/index.html">EventsCore by visiting the Developer Blog</a>.</p>
</div>